@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #0b0b0b;
  margin: 0;
  padding: 0;
}

#body a {
  position: relative;
}

#body a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #4fc3f7;
  transition: width 0.3s ease;
}

#body a:hover {
  transform: translateX(3px);
}

#body a:hover::after {
  width: 100%;
}
