@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #0b0b0b;
  margin: 0;
  padding: 0;
}

.collapsible {
  @apply bg-[#eee] text-[#444] cursor-pointer border border-white text-left text-[9px] rounded-[5px] lowercase py-px px-1.5 mt-[5px] hover:bg-[#ccc];
}

.content {
  @apply bg-[#f1f1f1] text-black p-1.5 rounded-md;
}

.content p {
  color: black;
}

#more-education,
#more-jobs {
  margin-top: 6px;
}

#body a {
  position: relative;
}

#body a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #4fc3f7;
  transition: width 0.3s ease;
}

#body a:hover {
  transform: translateX(3px);
}

#body a:hover::after {
  width: 100%;
}
